@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont2.eot');
  src: url('../fonts/iconfont2.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont2.woff') format('woff'),
  url('../fonts/iconfont2.ttf') format('truetype'),
  url('../fonts/iconfont2.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

